---
//src/components/Card.astro
const { name, position, aboutMe, linkedin, github, cvLink, profileImage, huggingFace, astrobuiltRAG, BIGAGI } = Astro.props;

import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="descripcion">
            <h1>{name}</h1>
            <h2>{position}</h2>
            <p>{aboutMe}</p>
            <div class="icons">
                <!-- LinkedIn Button -->
                <a href={linkedin} class="hover-text" target="_blank">
                    <img src="/images/li-logo.webp" alt="LinkedIn Logo" style="width: 24px; height: 24px;">
                    <span class="tooltip-text">LinkedIn</span>
                </a>

                <!-- GitHub Button -->
                <a href={github} class="hover-text" target="_blank">
                    <img src="/images/gh-logo.webp" alt="GitHub Logo" style="width: 24px; height: 24px;">
                    <span class="tooltip-text">GitHub</span>
                </a>

                <!-- Resume Button -->
                <a href={cvLink} class="hover-text" target="_blank">
                    <img src="/images/resume-icon.webp" alt="Resume Icon" style="width: 24px; height: 24px;">
                    <span class="tooltip-text">Resume</span>
                </a>

                <!-- Hugging Face Button -->
                <a href={huggingFace} class="hover-text" target="_blank">
                    <span class="tooltip-text">Hugging Face</span>
                    <span class="custom-icon-hf"></span>
                </a>

                <!-- RAGBot Eight Button -->
                <a href={astrobuiltRAG} class="hover-text" target="_blank">
                    <span class="tooltip-text">Astro Built RAG</span>
                    <span class="custom-icon-ragbot"></span>
                </a>

                <!-- bigAGI Button -->
                <a href={BIGAGI} class="hover-text" target="_blank">
                    <img src="/images/big-agi-icon.webp" alt="BIGAGI Icon" style="width: 24px; height: 24px;">                   
                    <span class="custom-icon-big-agi"></span>
                </a>
            </div>
        </div>
    </div>
</div>