---
const {name, position, aboutMe, linkedin, github, cvLink, profileImage, huggingFace, astrobuiltRAG } = Astro.props;

import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="descripcion">
            <h1>{name}</h1>
            <h2>{position}</h2>
            <p>{aboutMe}</p>
            <div class="icons">
                <!-- LinkedIn Button -->
                <a href={linkedin} class="hover-text" target="_blank">
                    <img src="/images/li-logo.webp" alt="LinkedIn Logo" style="width: 24px; height: 24px;">
                    <span class="tooltip-text">LinkedIn</span>
                </a>

                <!-- GitHub Button -->
                <a href={github} class="hover-text" target="_blank">
                    <img src="/images/gh-logo.webp" alt="GitHub Logo" style="width: 24px; height: 24px;">
                    <span class="tooltip-text">GitHub</span>
                </a>

                <!-- Resume Button -->
                <a href={cvLink} class="hover-text" target="_blank">
                    <span class="tooltip-text">Resume</span>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </a>

                <!-- Hugging Face Button -->
                <a href={huggingFace} class="hover-text" target="_blank">
                    <span class="tooltip-text">Hugging Face</span>
                    <span class="custom-icon-hf"></span>
                </a>

                <!-- RAGBot Eight Button -->
                <a href={astrobuiltRAG} class="hover-text" target="_blank">
                    <span class="tooltip-text">Astro Built RAG</span>
                    <span class="custom-icon-ragbot"></span>
                </a>
            </div>
        </div>
        <div class="image">
            <img src={profileImage} alt="Profile photo of the user, circular frame with a smiling individual.">
        </div>
    </div>
</div>

<style>
  /* Custom icon styles */
  .custom-icon-hf {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/images/hf-logo.webp') no-repeat center center;
    background-size: contain;
  }

  .custom-icon-ragbot {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/images/ragbot-eight-app-logo.webp') no-repeat center center;
    background-size: contain;
  }

  .tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
  }

  .hover-text:hover .tooltip-text {
    visibility: visible;
  }
</style>
